<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Police Performance & Resources</title>
<link rel="stylesheet" href="../static/css/history.css">
<header>
    <div class="nav">
        <nav class="navbar">
            <a href="#" class="logo">
                <img class="police_logo" src="static/image/ksp.jpg" alt="Police Logo">
            </a>
            <div id="google_element"></div>
<script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
<script>
    function loadGoogleTranslate(){
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'kn,en',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_element');
    }
</script>
            <ul class="nav-list">
                <li>
                    <a href="{{ url_for('home1') }}" style="margin-top: 10px;">Home</a>
                </li>
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Custom Dropdown Menu</title>
                    <link rel="stylesheet" href="static/css/home.css">
                </head>
                <body>
                
                <div class="dropdown">
                    <button onclick="toggleDropdown()" class="dropbtn" style="font-weight: bold;font-size: 14px;">
                        About Us</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="{{ url_for('vision') }}">Vision</a>
                      <a href="{{ url_for('history') }}">History</a>
                    </div>
                </div>
                <script src="static/js/main.js"></script>
                </body>
                <li>
                    <a href="{{ url_for('contactus') }}">Contact</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
  </header>

        <h1 align="center" style=" font-size:50px; padding-top: 10px;color: black;">History</h1>
        <div class="container">

            <div class="row">
            
                <div class="ipage" id="table-archive">                  
                    <p><strong><span style="color: #0000ff;">Karnataka State Police</span></strong></p>
        <p><span style="color: #0000ff;">Preface</span></p>
        <p style="text-align: justify;">Police in Karnataka were called by various names in different regions. After initiation of Policing, they were initially called Thoti, Talwar, Umbalidhar, Kattubidi, Neeraganti etc. The police primarily with policing used to do other jobs entrusted to them. The foundation of present police set up was laid after the appointment of State’s first Inspector General of Police. Today the State Police has grown into a big and complex organization running on modern management principles.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">History</span></p>
        <p style="text-align: justify;">Mysore State was the predecessor to Karnataka State, which was created on 1st November 1965. Sri. L. Rickets was appointed as first Inspector General of Police, prior to which the State Police had no status, structure and powers as such. During 1883 it was reported that Talwars, Thotis, Neeragantis, Kavalugararu, Amaragararu, Ankamaale, Patela, Shyanubhogas etc. used to do policing. During the rule of Maharajas of Mysore, the policing existed in different variants.</p>
        <p style="text-align: justify;">&nbsp;<span style="color: #0000ff;">Judicial System</span></p>
        <p style="text-align: justify;">In the year 1856, when the Judicial System became functional, Judicial Commissioners were appointed. In 1873 a rank of Deputy Inspector General of Police was appointed to assist him. During the same period posts of first class Inspector, second class Inspectors, Jamadhars, Daphedhars (Head Constables), Constables were created. Shirasthidhars, Head Quarters assistants in District Magistrates office used to sanction the police staffs pay and other requirements. At Taluk levels Amaldhars continued as police chiefs. A monthly pay of Rupees Thirty to Fifty was fixed to first class and second class officers along with residential allowances of Rupees Ten. Also Jamadhars, Daphedhars and constables used to get a monthly salary of Rupees twelve and eight respectively.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">First IGP</span></p>
        <p style="text-align: justify;">Reformation of police system took place in the year 1883. On the 1st of November 1885 Sri Ricket was appointed the First Inspector General of Police of old Mysore State. Later Sri V.P. Madhav Rao took over the charge from Sri Rickets. A separate policing was enforced for cities of Mysore and Bangalore. Government met the expenditure of police system in Bangalore whereas local municipality had to meet the expenditure on Mysore City Police.&nbsp;</p>
        <p style="text-align: justify;">At the same time Yelanduru belonged to Jahagirdhar, who was also in-charge of policing. He entrusted police jobs to his lieutenant’s. Expenditure of policing was taken care by Jahagirdhar, who was Superintendent of Police himself. The system was terminated or leased in 1884. At the same time priority was given to educate police.&nbsp;</p>
        <p style="text-align: justify;">As years passed problems started surfacing as there were no regulations or set rules to be followed in policing. Hence under the guidance of Inspector General of Police, the Head Quarter Inspector Sri. N. Laxman Shasthri published a guided hand book for police.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Minister</span></p>
        <p style="text-align: justify;">Sri D. Devaraj Urs who was Inspector General of Police in 1912 visited Vellore, studied the pattern adopted there for police training. During his regime he bought about massive changes to Bangalore Police Training School. Later Sri Katheshwar Iyer made a Criminology museum for the Training School.</p>
        <p style="text-align: justify;">Sri Devaraj Urs, Inspector General of Police was promoted to Councilship (Cabinet) and was first Inspector General of Police to become a minister. Mr. F.A. Hamiltion was posted as Inspector General of Police in 1930 and headed the police force for a period of 8 years during which he administered a lot of changes.</p>
        <p style="text-align: justify;">As years passed by, pulled carts, Tangas increased, cycles, motorcycles and cars come on roads, the need for traffic regulation arose. Sri Hamilton created Traffic divisions for Mysore and Bangalore cities. In Bangalore Upparpet, Ulsoor gate and Kalasipalyam Police Stations were entrusted with responsibility of traffic regulation. At Mysore a European Head Constable was chief of Traffic division, but Amaldhar used to sanction his monthly pay and allowance. Later Police Constables were provided with cycles and each constable was paid with fixed cycle allowance of Rupees Seven and Eight Paisa per month.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Probationer&nbsp;</span></p>
        <p style="text-align: justify;">In the year 1932 to recruit literates into the police force Probationary Police Inspectors were directly recruited. State Inspector General of Police was the appointing authority. Annually ten probationers Police Inspectors were to be recruited. Thus police department started recruiting literate officers.</p>
        <p style="text-align: justify;">The Government decided to encourage the staff with exemplary courage, meritorious service by rewarding with “Gandaberunda” honour in 1935. A Constable or Officer so rewarded would get increment ranging from Rupees Three to Twelve.</p>
        <p style="text-align: justify;">There was increase in Vehicles registration; drivers were issued licenses, when bus warrant system comes into effect. A “Weigh Bridge” was constructed in the premises of Inspector General of Police office. Bus Warrant payment for subordinates came in vogue during this time and still continues in the police department.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Independence Movement</span></p>
        <p style="text-align: justify;">From 1939 onwards the winds of freedom struggle blew strongly in Royal State of Mysore. The heat of Civil disobedience had hit police force. Leaders Sri. H. Siddaiah, T. Subramanyam, Malavalli Veerappa along with 2000 protesters were arrested. Out of them 1641 were convicted which became a big issue at that period.</p>
        <p style="text-align: justify;">As Bangalore grew, population and crime rate increased burdening the police with more work, when Sri. M.K. Somappa was appointed as Deputy Inspector General of Police, Bangalore City in 1944.At the same time in Bangalore city a private bank was started by B.N. Gopala Rao and lot of complaints of irregular practice in the said bank were reported. The Government appointed a Commission of enquiry headed by Justice Sri. P. Medappa, S. Nijalingappa, Tekuru Subramanya, N. Veerappa and N.T. Babu Reddy. Police Officer Sri. N.T. Babu Reddy was secretary to the commission. Government accepted the recommendations of commission and increased the salary of Sri Babu Reddy by Rupees One Hundred and Fifty.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Kodagu</span></p>
        <p style="text-align: justify;">Kodagu was ruled by local chieftains as there was no organised police system, and Jamma peasants managed policing. Criminals were caned as punishment. Patels and Gowdas were promoted as Subedhars. An office called “Dharnaghal” was established to receive public complaints. In 1861 after implementation of Police Act, a Chief Commissioner was appointed for Kodagu, who was also Inspector General of Police.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Bellary-Mangalore</span></p>
        <p style="text-align: justify;">The present Bellary-Mangalore Regions belonged to old Madras Presidency where Kavalugara and Palegaras enforced policing. A systematic policing came into effect on implementation of Police Act 1861, with the posting of Superintendent of police and Assistant Superintendent of Police.</p>
        <p style="text-align: justify;">Since 1827, effective policing has been in force in Belgaum, Dharwad, Bijapur, Uttara Kannada under the administrative control of old Bombay Presidency. In Pune Deputy Inspector General Police was the Police Chief and supervised the above four districts. The eligibility of tenth standard or intermediate was required to become a Police Inspector. Officers were trained in London in the cadre of “Imperial Police” and were posted as Assistant Superintendent of Police and promoted as Superintendent of Police after Ten years. Subsequently, Indian Police Service Officers were selected for the positions held by IP Officers earlier.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Hyderabad</span></p>
        <p style="text-align: justify;">Gulbarga, Raichur, Bidar come under Hyderabad Nizam’s rule where the term “Sadar-Ali_Moham” or “Police Minister” was used. Ammendhars and Police Inspectors were Taluk level chiefs along with “Deewani Police” and “Jahagir Police” culture. Jahagirdhars of the area used to appoint “Jahagir Police” who had to protect property of Jahagirdhar. The system ended when Hyderabad became a part of the Indian Union.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">After 1956</span></p>
        <p style="text-align: justify;">In 1956 the reorganization of states was done in India on linguistic basis. On the same lines the Mysore state came in existence in 1956. The unified state police got a uniform dress code under Mysore Police. With the passage of time there was increase in violence, law &amp;amp; order problems arose, crime rate increased and a strong force was developed with improved facilities to meet the new challenges.</p>
        <p style="text-align: justify;">During the initial years of the Mysore State, the police department had only three Deputy Inspectors General of Police of Ranges at Belgaum, Bangalore and Mysore along with a small Reserve Force, Intelligence and Criminal Investigation Department. Sri P.K. Monappa was the first Inspector General of Police and also State’s first IP (Imperial Police) Officer.</p>
        <p style="text-align: justify;">Sri S.N. Hosalli took over from Sri. Monappa on his retirement. Sri. Hosalli was the last IP Officer who served the state for a period of twelve and half years as Inspector General of Police.</p>
        <p style="text-align: justify;">The border districts of Karnataka even though unified, were out of reach during emergencies. Hence another Range Office was created at Gulbarga with Deputy Inspector General of Police heading it. Meanwhile, Portuguese had vacated Goa and the Central Government handed over its administration to Karnataka State Police. Central Government gave certificate of meritorious service to Karnataka Police for the service rendered in Goa.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Bangalore City</span></p>
        <p style="text-align: justify;">After unification of Karnataka, Bangalore as Capital City grew very rapidly, posing various challenges to the police. Bangalore City became a Commissionerate on 4th July 1963. Sri. C. Chandhy, a Senior Deputy Inspector General of Police was appointed as the Police Commissioner.</p>
        <p style="text-align: justify;">As Karnataka was unified from various regions, which had enforced their own police laws, regulations and culture, to provide uniformity the Karnataka Police Act 1963 came into force from 2nd April 1965. Hence a uniform Police regulation across the entire state was enforced. Yet the problem was not solved. Toti, Talwar, Patels etc. were part of policing. Hence the Karnataka Village Defense Parties Act was passed and enforced in 1964.</p>
        <p style="text-align: justify;">Sri Devaraj Urs became Chief Minister 1972, and held Home portfolio till he was in power. During his reign, the department shaped into a huge organization. The Criminal Investigation Department and Intelligence units were separated and were headed by Deputy Inspector General of Police. Later CID was transformed into COD and its office shifted from Inspector General of Police office to present “CARLTON HOUSE”. Corps of Detective used to investigate crimes exclusively. Hence Forest, Food cells and Forensic Science Lab were placed under the supervision and control of COD. Later food cell and forest cell separated from COD and a Deputy Inspector of Police was posted for supervising their work.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Home Guards and Fire Force</span></p>
        <p style="text-align: justify;">Home Guards and Fire force are two wings of Police department, a real necessity during emergencies rendering services to public round the clock. Later these wings were split from Police Department. Sri A.R. Nizamuddin was appointed as Director General of Police, Fire Force and Home Guards.</p>
        <p style="text-align: justify;">&nbsp;</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Transport System</span></p>
        <p style="text-align: justify;">The department had bicycles in 1928. The department has three buses in 1929-30, Today motor transport including with buses/tempo/jeep/motor cycle and other vehicles. The MT branch is responsible for vehicle repair and training for drivers.</p>
        <p>At present the police department has been purchasing new motor vehicles and allocating to all units across the State.</p>
        <p>1.Emergency Response Support System (ERSS)</p>
        <p>2.Highway Patrol Vehicles.</p>
        <p>3.Hoysala (for station patrolling)</p>
        <p>4.Garuda for Patrolling (Mysuru)</p>
        <p>5.Channamma for Patrolling (Hubli-Dharwad City)</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Armed Reserve Police<br></span></p>
        <p style="text-align: justify;">When Mysore State was formed there were no major Law and Order problems, which subsequently started surfacing like protests, rallies etc. Hence to contain and control such situations Karnataka Reserve Police was created. In 1956 state had three battalions (with Aggregate of more than 3000 persons), presently it has eleven Battalions along with two India Reserve Battalions in the state, with four Battalions at Head Quarters in Bangalore and rest located at Mysore, Belgaum, Gulbarga, Mangalore, Shimoga, Hassan and Shiggao in Haveri District.</p>
        <p style="text-align: justify;">Other than Karnataka State Reserve Police, State has District &amp; City armed reserves in every unit across the state.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Police Training</span></p>
        <p style="text-align: justify;">As the police force grew in numbers and tasks became complex, it became important to provide appropriate training to enable the force to be very smart, strong and disciplined. Hence Training Schools across the state were started to train the constables and also Police Training College was started at Mysore to train Police Sub Inspectors, DySp’s and IPS officers.</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Women Police</span></p>
        <p style="text-align: justify;">With the aim of social reforms, the department started recruiting Woman Police. During State re-organisation nine women police came into the fold of State Police from Mumbai Karnataka region, presently Women Police Constables are working in all Police Stations across the State. Smt. Jija Hari Singh was the first woman IPS officer in the State of Karnataka. Smt. Prabharao IPS were the first Kannadiga woman IPS. at present 36 women police stations Functioning in karnataka&nbsp;</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Police Dog Squad</span></p>
        <p style="text-align: justify;">Police Dogs were utilized from 1968. Sri. J.B. Samual who retired from Madras started a dog squad in Karnataka. Initially, the squad had six Canines which have now increased to more than&nbsp;38 Dog Squads and 234 dogs&nbsp; and A Dog Training school situated at CAR South Bengaluru City.&nbsp;</p>
        <p style="text-align: justify;"><span style="color: #0000ff;">Police Benevolent Fund</span></p>
        <p style="text-align: justify;">For the welfare of the Police, various schemes such as Police Housing, Karnataka Police Benevolent Fund, Arogya Bhagya etc. have been created.</p>
        <p style="text-align: justify;">The new State of Karnataka came into existence on November 1, 1956. The erstwhile State of Mysore with 10 districts, 4 districts from erstwhile State of Bombay, 3 districts from the erstwhile State of Hyderabad, 1 district and 1&nbsp; Taluka from erstwhile State of Madras and part of Coorg State were integrated into one unit. Consequently, the new State of Karnataka had five different police systems, Acts, Rules, Manuals and even uniforms when it was formed. In all these spheres uniformity was brought and by 1965 the entire force was reorganised. The state enacted the Police Act in 1963 and brought it into force with effect from April 2, 1965. The city of Bangalore has a Police Commissioner as head of the city police. There is a Water Front Police for Uttara Kannada (North Canara) district for patrolling through motor launches.</p>
        <p style="text-align: justify;">&nbsp;&nbsp;</p>
                </div>
            </div>
        
            <div class="row">		
                <div class="col-md-1">			
                </div>
                        <div class="col-md-4">
                    <p id="arch-btn"></p>
                </div>
            </div>
            
        </div>
        </html>